<p>Prova components</p>

<p *ngIf="!users"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="users">
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Description</th>
      <th>Email</th>
      <th>Phone_Number</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.surname }}</td>
      <td>{{ user.description }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone_number }}</td>
    </tr>
  </tbody>
</table>


<div *ngFor="let user of users">
  <div class="card" style="width: 18rem;">
    <div class="card-body" >
      <h5 class="card-title">{{ user.name }}  {{user.surname}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ user.description }}</h6>
      <p class="card-text">.</p>
    </div>
  </div>
</div>
